body {
  background: orange;
}

/*
#animation {
  position: absolute;
  background: red;
  width: 13px;
  height: 13px;
  border-radius: 50px;
  animation: move 10s infinite;
}
*/
span {
  animation: move 10s infinite;
}
@keyframes move {
  0% {
    transform: scale(2, 2);
    background: red;
  }
  25% {
    transform: scale(4, 4);
    background: green;
  }

  50% {
    transform: scale(6, 6);
    background: yellow;
  }

  75% {
    transform: scale(4, 4);
    background: blue;
  }

  100% {
    transform: scale(2, 2);
    background: red;
  }
}
/*

@keyframes move{
  0% {
    background: red;
  }
  25% {
    background: green;
  }
  
  50% {
    background: yellow;
  }
  
  75% {
    background: blue;
  }
  
  100% {
    background: red;
  }
}
*/
